body{
    background-color: rgb(221, 224, 255);
    font-family: Arial, sans-serif;
}

h1{
     font-size: 30px;
     color: rgb(2, 158, 111);
     text-align: center;
 }

 #title {
     max-width: 900px; 
     font-size: 25px; 
     color: rgb(83, 53, 255); 
      margin: 0;
      height: 800px;              
      display: flex;               
      align-items: center; 
 }

 .handmade-h1 {
     font-size: 20px; 
    line-height: 5%
 }

     red{
       color: rgb(0, 255, 102);
      }
    yellow {
       color: olive;
      }
    rain {
       color: purple;
      }
    
    

strong, b {
  font-weight: bold;
}

 a:link{
 color: red;
 text-decoration: underline;
 }

 a:hover {
 color: rgb(83, 53, 255); 
 text-decoration: underline;
 cursor: pointer; 
}

